.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.carouselContainer {
  user-select: none;
  position: relative;
  width: 100%;
  margin-top: 140px;
}

.photoContainer {
  width: 900px;
  height: 500px;
  margin: auto;
  overflow: hidden;
}

.arrow {
  top: 0;
  font-size: 30px;
  position: absolute;
  transition: .25s all;
  cursor: pointer;
  user-select: none;
  z-index: 20;
  height: 100%;
  width: 80px;
  background: white;
}

.leftArrow {
  left: 0;
  box-shadow: 5px -75px 20px black;
}

.rightArrow {
  right: 0;
  box-shadow: -5px -75px 20px black;
}

.arrow:hover {
  color: pink;
}

.arrow:active {
  color: red;
}

.arrow p {
  margin-top: 180px;
}