.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.carouselContainer {
  user-select: none;
  position: relative;
  width: 1000px;
  margin: 70px auto;
}

.arrow {
  font-size: 30px;
  position: absolute;
  transition: .25s all;
  cursor: pointer;
  user-select: none;
  z-index: 20;
}

.leftArrow {
  top: 20%;
  left: 0;
}

.rightArrow {
  top: 20%;
  right: 0;
}

.arrow:hover {
  color: pink;
}

.arrow:active {
  color: red;
}